<div class="post" ng-controller="MainController">

	<!-- Left portion of post -->
	<div class="left">
		<!-- Upvote button -->
		<button class="upvote" ng-click="upvote($index)">+</button>
		<!-- Post rating -->
		<div class="rating">{{ info.rating | rating }}</div>
		<!-- Downvote button -->
		<button class="downvote" ng-click="downvote($index)">‒</button>
	</div>
	
	<style="clear:both;"/>
	
	<!-- Right portion of post -->
	<div class="right">
		<!-- Post title -->
		<div class="title">{{ info.title }}</div>
		<!-- Post position -->
		<div class="lat">Lat: {{ info.pos.lat }}</div>
		<div class="lon">Lon: {{ info.pos.lon }}</div>
		<!-- Post image -->
		<img id="image" ng-src="{{ info.imglink }}" style="width:200px" class="bigImage"/>
		<!-- The Modal -->
		<div id="imageModal" class="modal">
		<!-- The Close Button -->
		<span class="close" onclick="document.getElementById('imageModal').style.display='none'">&times;</span>
		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="img01">
	</div>
	
	<script>
		var modal = document.getElementById('imageModal');
		console.log("Hello");
	
		var image = document.getElementById('image');
		var modalImg = document.getElementById("img01");
		image.onclick = function(){
			modal.style.display = "block";
			modalImg.src = image.ng-src;
			console.log("You clicked on " + image.ng-src);
		}
		
		var span = document.getElementsByClassName("close")[0];
		
		span.onclick = function() {
			modal.style.display = "none";
		}
	</script>
	
</div>