<div class="post" ng-controller="MainController">
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeView()">&times;</a>
		<div class="overlay-content">
			<img src="" id="bigImage"></img>
		</div>
	</div>

	<!-- Left portion of post -->
	<div class="left">
		<!-- Upvote button -->
		<button ng-disabled="upvote" class="upvote {{this.info._id}}" ng-click="updateRating(this.info._id, this.info.rating, 1)">+</button>
		<!-- Post rating -->
		<div id={{this.info._id}} ng-model="ratingModel" class="rating">{{ info.rating }}</div>
		<!-- Downvote button -->
		<button ng-disabled="downvote" class="downvote {{this.info._id}}" ng-click="updateRating(this.info._id, this.info.rating, -1)">‒</button>
	</div>
	
	<style="clear:both;"/>
	
	<!-- Right portion of post -->
	<div class="right" ng-click="openInfo(this.info.pos.lat, this.info.pos.lon, this.info.title)">
		<!-- Post title -->
		<div class="title">{{ info.title }}</div>
		<!-- Post position -->
		<!-- <div class="lat">Lat: {{ info.pos.lat }}</div> -->
		<!-- <div class="lon">Lon: {{ info.pos.lon }}</div> -->
		<!-- Post image -->
		<span style="cursor:pointer" ng-click="openView(this.info.imglink)"> 
			<img id="image" ng-src="{{ info.imglink }}" style="width:200px"/>
		</span>
	</div>
	</span>
</div>