/* Map */
#map {
	/* 40% - #banner height */
	height: calc(40% - 50px);
	width: 100%;
}

/* Contents of the page besides banner and map */
#content {
	/* 60% - #post-entry_toggle height */
	height: 60%;
	width: 100%;
	background-color: white;
}

/* Button that toggles post entry fields */
#post_entry_toggle {
	height: 49px;
	width: 100%;
	background-color: #F3F3F3;
	color: black;
	border: none;
	cursor: pointer;
	font-weight: bold;
	line-height: 50px;
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	transition: border-width 0.4s;
	font-size: 20px;
}

#post_entry_toggle:focus {
	/* Gets rid of the blue outline */
	outline: none;
}

/* Post entry form */
#post_entry {
	height: 0px;
	width: 100%;
	transition: height 0.5s;
	overflow-y: hidden;
	border-bottom: 1px solid black;
}

/* All post entry inputs */
#post_entry input {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

#post_entry input:focus {
	/* Gets rid of the blue outline */
	outline: none;
}

/* "Post" button */
#post_entry_button {
	float: right;
	height: 50px;
	width: 50px;
	background-color: #9c58b5;
	color: white;
	text-align: center;
	cursor: pointer;
	border: none;
	border-left: 1px solid black;
}

/* Title field */
#post_entry_title {
	height: 25px;
	width: calc(100% - 50px);
	border: none;
	border-bottom: 1px solid black;
	padding-left: 5px;
}

/* Image link field */
#post_entry_imglink {
	float: left;
	height: 25px;
	width: calc(100% - 75px);
	border: none;
	border-bottom: 1px solid black;
	padding-left: 5px;
	transition: background-color 0.5s;
}

/* "Image" button */
#post_image_select {
	height: 25px;
	width: 25px;
	background-color: white;
	cursor: pointer;
	border: none;
	border-bottom: 1px solid black;
	padding: 2px;
	transition: background-color 0.5s;
}

#preview {
	height: 0px;
}

#preview img {
	min-width: 100%;
	max-width: 100%;
}

/* 750px and up */
@media only screen and (min-width: 750px) {
	/* Map */
	#map {
		height: calc(100% - 50px);
		width: calc(100% - 400px);
		float: right;
		border-left: 1px solid black;
	}
	
	/* Content */
	#content {
		width: 400px;
		/* 100% - banner height */
		height: calc(100% - 50px);
	}
	
	/* Button that toggles post entry fields */
	#post_entry_toggle {
		border-top: none;
	}
}