/* Map */
#map {
	height: 40%;
	width: 100%;
}

/* Post entry form */
#post_entry {
	display: none;
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 80%;
	text-align: middle;
}

/* "Post" button */
#post_entry_button {
	/* Add code here */
}

/* Title field */
#post_entry_title {
	/* Add code here */
}

/* Content */
#content {
	/* 60% - #banner height */
	height: calc(60% - 50px);
	width: 100%;
	overflow-y: auto;
	transition: 0.5s;
	background-color: lightgrey;
}

/* Mobile style buttons */
#show_user_location, #post_image_select {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border: none;
	position: absolute;
	z-index: 1;
	float: left;
	margin: 30px;
	box-shadow: 0px 0px 15px #888888;
}

/* Show user location */
#show_user_location {
	background-color: blue;
	bottom: 100px;
    right: 0;
}

/* Make a new post button */
#post_image_select {
	background-color: red;
	bottom: 0;
    right: 0;
}