/* Map */
#map {
	height: 40%;
	width: 100%;
}

/* Post entry form */
#post_entry {
	display: none;
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 80%;
	text-align: middle;
}

/* "Post" button */
#post_entry_button {
	/* Add code here */
}

/* Title field */
#post_entry_title {
	/* Add code here */
}

/* Content */
#content {
	/* 60% - #banner height */
	height: calc(60% - 50px);
	width: 100%;
	overflow-y: auto;
	transition: 0.5s;
	background-color: white;
}

/* Individual post */
.post {
	margin-left: 50px;
	margin-right: 50px;
}

/* Mobile style buttons */
#show_user_location, #post_image_select {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 0px 15px #000000;
}

/* Show user location */
#show_user_location {
	background-color: #E17C36;
	bottom: 140px;
    right: 45px;
}

/* Make a new post button */
#post_image_select {
	background-color: #93278F;
	bottom: 35px;
    right: 45px;
}