* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	overflow-y: hidden;
}

#banner {
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 35px;
	line-height: 50px;
	padding: 2px;
}

#banner img {
	height: 100%;
}

#map {
	height: calc(40% - 50px);	/* 40% - #banner height */
	width: 100%;
}

#post_entry_toggle {
	height: 50px;
	width: 100%;
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	font-weight: bold;
	line-height: 50px;
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	transition: border-width 0.4s;
	font-size: 20px;
}

#post_entry {
	height: 0px;
	width: 100%;
	transition: height 0.5s;
	overflow-y: hidden;
	border-bottom: 1px solid black;
}

#post_entry input {
	float: left;
	padding-left: 10px;
}

/* "Post" button */
#post_entry_button {
	height: 50px;
	width: 72px;
	background-color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

/* Title field */
#post_entry_title {
	height: 50px;
	width: calc((100% - 144px) / 2);	/* 100% - post_entry_button width / 2 */
	border: none;
	border-left: 1px solid black;	
	border-right: 1px solid black;
}

/* Image link field */
#post_entry_imglink {
	height: 50px;
	width: calc((100% - 144px) / 2);	/* 100% - post_entry_button width / 2 */
	border: none;	
	border-right: 1px solid black;
}

/* "Image" button */
#post_image_select {
	height: 50px;
	width: 72px;
	background-color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#post_image_upload {
	display: none;
}

#content {
	/*height: calc(60% - 51px);*/ 	/* 60% - #post-entry_toggle height */
	height: 60%; 	/* 60% - #post-entry_toggle height */
	width: 100%;
	background-color: lightgrey;
}

#posts {
	transition: 0.5s;
	overflow-y: auto;
	height: calc(100% - 50px);
}

.post {
	background-color: white;
	border: 1px solid black;
	margin: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #888888;
}

#image {
	min-width: 100%;
	max-width: 100%;
	background-color: white;
}

.left {
	width: 60px;
	text-align:center;
	line-height: 30px;
	display: table-cell;
	padding: 10px;
	float: left;
}

.rating {
	font-weight: bold;
	font-size: 20px;
}

.upvote, .downvote {
	height: 30px;
	width: 30px;
	background-color: white;
	color: grey;
	border: 1px solid lightgrey;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.upvote:disabled {
	color: lightgrey;
	cursor: auto;
}

.downvote:disabled {
	color: lightgrey;
	cursor: auto;
}

.right {
	height: 100%;
	width: calc(100% - 60px);	/* 100% - .left width */
	background-color: lightgrey;
	display: table-cell;
	padding: 10px;
	float: right;
}

.title {
	font-weight: bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0 ,0, 0.0);
    overflow-x: hidden;
    transition: background-color 0.5s;
	text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
	opacity: 0;
}

.bigImage{
	vertical-align: middle;
	max-width: 80%;
	max-height: 80%;
	opacity: 0;
	transition: 0.5s;
	z-index: 1;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#closeArea {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

@media only screen and (min-width: 750px) {
	#map {
		height: calc(100% - 50px);
		width: 70%;
		float: right;
		border-left: 1px solid black;
	}
	
	#content {
		width: 30%;
		height: calc(100% - 50px);
	}
	
	#post_entry_toggle {
		border-top: none;
	}
}