* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}

#banner {
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 35px;
	line-height: 50px;
	padding: 2px;
}

#banner img {
	height: 100%;
}

#map {
	height: calc(40% - 50px);	/* 40% - #banner height */
	width: 100%;
}

#post_entry_toggle {
	height: 50px;
	width: 100%;
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	font-weight: bold;
	line-height: 50px;
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	transition: 0.4s;
	font-size: 20px;
}

#post_entry {
	height: 0px;
	width: 100%;
	transition: 0.5s;
	overflow-y: hidden;
	border-bottom: 1px solid black;
}

#post_entry input {
	float: left;
	padding-left: 10px;
}

/* "Post" button */
#post_entry_button {
	height: 50px;
	width: 72px;
	background-color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

/* Title field */
#post_entry_title {
	height: 50px;
	width: calc((100% - 144px) / 2);	/* 100% - post_entry_button width / 2 */
	border: none;
	border-left: 1px solid black;	
	border-right: 1px solid black;
}

/* Image link field */
#post_entry_imglink {
	height: 50px;
	width: calc((100% - 144px) / 2);	/* 100% - post_entry_button width / 2 */
	border: none;	
	border-right: 1px solid black;
}

/* "Image" button */
#post_image_select {
	height: 50px;
	width: 72px;
	background-color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#content {
	height: calc(60% - 51px); 	/* 60% - #post-entry_toggle height */
	width: 100%;
	overflow-y: auto;
	transition: 0.5s;
	background-color: lightgrey;
}

.post {
	background-color: white;
	border: 1px solid black;
	margin: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #888888;
}

.left {
	width: 60px;
	text-align:center;
	line-height: 30px;
	display: table-cell;
	padding: 10px;
	float: left;
}

.rating {
	font-weight: bold;
	font-size: 20px;
}

.upvote, .downvote {
	height: 30px;
	width: 30px;
	background-color: white;
	color: grey;
	border: 1px solid lightgrey;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.right {
	height: 100%;
	width: calc(100% - 60px);	/* 100% - .left width */
	background-color: lightgrey;
	display: table-cell;
	padding: 10px;
	float: right;
}

.title {
	font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    width: 80%;
    display: block;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Image enlarging pseudo-solution */
.bigImage{
	transition: all .2s ease-in-out;
	z-index: 1;
}

.bigImage:hover{
	transform: scale(2);
	z-index: 9999;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}