/* All elements */
* {
	/* Includes padding and border in element dimensions */
    box-sizing: border-box;
}

/* Body */
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Banner */
#banner {
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 2px;
}

/* Image in banner */
#banner img {
	height: 100%;
}

/* Map */
#map {
	/* 40% - #banner height */
	height: calc(40% - 50px);
	width: 100%;
}

/* Image viewing overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
	/* For browsers that don't support RGBA */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0 ,0, 0.0);
    transition: background-color 0.5s;
	text-align: center;
}

/* Area around image in viewing mode, used to close viewing mode */
#closeArea {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/* Close image viewing mode button */
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
	opacity: 0;
	padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

/* Close image viewing mode button */
.closebtn:hover, .closebtn:focus {
	color: #f1f1f1;
}

/* Helper element to center image on the screen */
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Image viewing mode image */
.bigImage{
	vertical-align: middle;
	max-width: 80%;
	max-height: 80%;
	opacity: 0;
	transition: 0.5s;
	z-index: 10;
}

/* File selector */
#post_image_upload {
	display: none;
}

/* Container of all posts */
#posts {
	background-color: white;
	transition: 0.5s;
	overflow-y: auto;
	height: calc(100% - 50px);
}

/* Individual post */
.post {
	background-color: #F3F3F3;
	border: 1px solid black;
	margin: 20px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #888888;
	border-radius: 3px;
}

/* Right side of the post */
.right {
	height: 100%;
	width: 100%;
}

/* Post up and down vote buttons */
.upvote {
	height: 25px;
	width: 25px;
	background-image: url("../images/thumbsup.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: grey;
	border: none;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	float: right;
	margin: 3px;
}

/* Post rating */
.rating {
	float: left;
	font-weight: bold;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}

/* Post title */
.title {
	float: left;
	font-size: 20px;
	padding-top: 3px;
}

/* Post image */
#image {
	position: relative;
	display: block;
	min-width: 100%;
	max-width: 100%;
	background-color: white;
}

/* Vote prompt */
.voteprompt{
	height: 0;
    width: 100%;
	overflow: hidden;
	transition: 0.5s;
	line-height: 25px;
}

/* Vote prompt button */
.votepromptbutton{
	float: right;
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

/* Vote prompt text */
.voteprompttext{
	float: left;
	font-size: 12px;
	padding-left: 10px;
}

#mapWarning{
	color: red;
	text-align: center;
}