<!DOCTYPE html>
<html>
<head>
	<title>ShareScape</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/mobile.css"/>
	<link rel="icon" href="images/ShareScapeLogoNoWords.png">
	<!-- JavaScript -->
	<script src="js/scripts/script.js"></script>
	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- Google Maps -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHA5cxSt3ZGQpALXemSm48kTnYgclUQzA"></script>
</head>

<body ng-app="myApp" ng-controller="MainController" onkeyup="inputKeyUp(event)">

	<!-- Banner -->
	<div id="banner">
		<img src="images/WordmarkWhite.png">
	</div>
	
	<!-- Map -->
	<div id="map"></div>
	
	<!-- Hidden Image Enlargement Overlay -->
	<div id="myNav" class="overlay">
		<!-- Close button -->
		<a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="closeView()">&times;</a>
		<!-- Helper container to center image -->
		<span class="helper"></span>
		<!-- Image -->
		<img src="" id="bigImage" class="bigImage"></img>
		<!-- Post entry fields -->
		<form id="post_entry" ng-submit="createPost()">
			<!-- "Post" button -->
			<input type="submit" id="post_entry_button" value="Post" onclick="closeView()">
			<!-- Title field -->
			<input type="text" id="post_entry_title" ng-model="title" placeholder="Title">
		</form>
	</div>

	<!-- Main page content -->
	<div id="content">
	
		<!-- Posts -->
		<div ng-repeat="post in posts | orderBy: '-rating'">
			<post-info info="post"></post-info>
		</div>
		
	</div>

	<!-- Show user location button -->
	<input type="button" id="show_user_location" ng-click="centerOnUser()">
	<!-- Post button -->
	<input type="button" id="post_button" onclick="document.getElementById('post_image_upload').click()">
	<!-- Folder browser -->
	<input type="file" id="post_image_upload" onchange="imageUpload(this.files[0], true)">
	
	<!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
	
</body>