body{
	text-align: center; 
	padding-top: 100px;
}

div{ 
	border: 10px solid black; 
	text-align: center; 
	line-height: 100px; 
	width: 200px; 
	margin: auto; 
	font-size: 40px; 
	display: inline-block;
}

#link, p , div{
	display: none
}

div{
	display: inline-block;
}

.uploading div, .uploaded div{
	display: none;
}

.uploading p, .uploaded #link{
	display: inline
}